#topBar {
	top: 20px;
	box-shadow: none;
	line-height: 32px;
	div {
		margin: 0 10px;
	}
}
#game {
	top: 52px;
}
#ccplus {
	height: 20px;
	top:0;
	background-image: url(http://orteil.dashnet.org/cookieclicker/img/darkNoise.png);
	ul {
		list-style: none;
		margin:0;
		padding:0 0 0 10px;
		height: 20px;
		li {
			margin: 0 10px 0 0;
			padding: 0;
			float: left;
			line-height: 20px;
			&:after {
				margin-left: 5px;
			}
			input[type=checkbox][name=cheat]:checked + .fps {
				display: inline;
			}
			.fps {
				display: none;
				color: #cccccc;
				text-decoration: none;
				&:after {
					content: "fps";
				}
			}
			&.mail {
				cursor: pointer;
			}
			span:not(.fps) {
				text-decoration: underline;
				&:hover {
					text-shadow: 0px 0px 3px #ffffff;
					color: #ffffff;
				}
			}
		}
	}
}

input[type=checkbox].switch {
	height: 15px;
	width: 50px;
	visibility: hidden;
	margin: 2px;
	&:before, &:after {
		visibility: visible;
		height: 15px;
		line-height: 13px;
		font-size: 10px;
		background-color: #444444;
		text-align: center;
		display: block;
		float: left;
		transition: all 0.125s;
		color: white;
		border-style: solid;
		border-color: #888888;
		box-sizing: border-box;
	}
	&:before {
		content: attr(data-on);
		width: 20px;
		border-radius: 10px 0 0 10px;
		border-width: 1px 0 1px 1px;
	}
	&:after {
		content: attr(data-off);
		background-color: #880000;
		width: 30px;
		border-radius: 0 10px 10px 0;
		border-width: 1px 1px 1px 0;
	}
	&:checked:before {
		background-color: #008800;
		width: 30px;
	}
	&:checked:after {
		background-color: #444444;
		width: 20px;
	}
}